$black: #000000;
$primary: #594398;
$secondary: #e5e5ff;
$tertiary:#271C46;
$white: #FFFFFF;
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Ubuntu');

h1 {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
}

body{
    font-family: Ubuntu, sans-serif;
}

header {
    text-align: center;
}

.messages {
    background-color: steelblue;
    border-radius: 5px;
    padding: 1em;
    height: 50vh;
    overflow: auto;
}

.message {
    color: white;
    padding: 0.3em;
}

.date, .author {
    font-weight: bold;
}

#author {
    width: 20%;
}

#content {
    width: 60%;
}


img{
    height: 40px;
}
.user-inputs{
    button[type="submit"]{
        width: 20%;
    }
    button{
        background: rgb(194, 18, 18);
        border: rgb(194, 18, 18);
        border-radius: 10px;
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 800;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    input, button {
        padding: 0.5em;
    }
    
    input {
        margin-right: 10px;
    }
    form {
        display: flex;
        margin-top: 1em;
        justify-content: space-between;
    }
}
.bouton{
    background: rgb(194, 18, 18);
    border: rgb(194, 18, 18);
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 10px;
}
.modal1{
    .bouton{
        color: $white;
        background: $primary;
        text-transform: uppercase;
        padding:5px;
        border-radius: 5px;
        border: $primary 2px solid;
        font-weight: 600;
    }
    .bouton1{
        color: $black;
        background: $white;
        border-radius: 5px;
        border: $white 2px solid;
        font-weight: 500;
    }
}